body {
  height: 100vh;
  background: #0D1017;
  color: #E0F9FF;
  font-size: 1em;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #7971EA;
  border-radius: 10px;
  width: 5px;
}

#root {
  height: 100%;
}