body {
  height: 100vh;
  background: #0D1017;
  color: #E0F9FF;
  font-size: 1em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

img {
  width: 100%;
}